* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #cecece;
  color: white;
  font-family: "poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.container {
  background-color: #494949;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 400px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 20px 40px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px 20px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35%;
}

form label {
  color: white;
  margin-bottom: 0;
  padding: 0;
  font-size: 15px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

form input {
  padding: 5px 5px;
  background-color: #666666;
  border: none;
  color: white;
  margin: 0;
  font-size: clamp(15px, 1.5vw, 20px);
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form button {
  border: none;
  padding: 0.5em;
  height: 35px;
  color: white;
  background-color: #e99c37;
  cursor: pointer;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
}

.option p {
  color: #bdbdbd;
  font-size: 15px;
}

.option button {
  background-color: white;
  width: 100px;
  height: 35px;
  color: #4285f4;
  cursor: pointer;
}

.register {
  border-bottom: 1px dotted orange;
  color: orange;
}

p {
  color: #aaaaaa;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

h4 {
  font-size: 15px;
  color: #cc3030;
}

.register-form {
  height: 40%;
}

.register-form button {
  margin-top: 1em;
}

.fa-google {
  color: #38cc38;
}

@media (max-width: 650px) {
  .container {
    height: 65vh;
    width: 300px;
  }
  form {
    height: 45%;
  }
  .option button {
    padding: 0.3em 2em;
  }
  .register-form {
    height: 60%;
  }
}
/*# sourceMappingURL=cssforejs.css.map */